/*
 * jQuery Nivo Slider v2.7.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */
 
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	margin: 0 0 12px 0;
	width: 700px; height: 320px;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display: none;
}
.nivoSlider a {
    border:0;
    display:block;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8; /* Overridden by captionOpacity setting */
	width:100%;
	z-index:8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	position:absolute;
	width: 50px; height: 50px;
	top:50%;
	margin: -25px 0 0 0;
	z-index:9;
	cursor:pointer;
	opacity: 0.5;
}
.nivo-prevNav {
	left:10px;
	background: url(../images/arrows.png) no-repeat 0 0;
	
}
.nivo-nextNav {
	right:10px;
	background: url(../images/arrows.png) no-repeat 100% 0;
}

.nivo-directionNav a:hover { opacity: 1; }

.nivo-controlNav {
	position:absolute;
	right: 6px;
	bottom:8px;
	opacity: 0.75;
	z-index: 9;
}
.nivo-controlNav a {
	display:block;
	width: 10px;
	height:10px;
	background:url(../images/bullets.png) no-repeat 0 -10px;
	text-indent:-9999px;
	border:0;
	margin-right:2px;
	float:left;
	cursor: pointer;
}

.nivo-controlNav a.active { background-position:0 0; }


/* Control nav styles (e.g. 1,2,3...) */
/*
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
*/