<?xml version="1.0"?>
<ajaxControlToolkit>
  <controlBundles>
    <controlBundle>
      <control name="ModalPopupExtender"></control>
      <control name="HtmlEditorExtender"></control>
      <control name="ConfirmButtonExtender"></control>
      <control name="AccordionExtender"></control>
      <control name="Accordion"></control>
      <control name="TabContainer"></control>
    </controlBundle>
    <controlBundle name="Standard">
      <control name="ModalPopupExtender"></control>
      <control name="HtmlEditorExtender"></control>
      <control name="ConfirmButtonExtender"></control>
      <control name="AccordionExtender"></control>
      <control name="Accordion"></control>
      <control name="TabContainer"></control>
    </controlBundle>
    <controlBundle name="StaffSite">
      <control name="ModalPopupExtender"></control>
      <control name="HtmlEditorExtender"></control>
      <control name="ConfirmButtonExtender"></control>
      <control name="AccordionExtender"></control>
      <control name="Accordion"></control>
      <control name="TabContainer"></control>
    </controlBundle>
  </controlBundles>
</ajaxControlToolkit>