/Applications/.vs/
/Applications/POS/bin/
/Applications/POS/obj/
/Applications/POSRelease/bin/
/Applications/POSRelease/obj/
/Build/UpdateVer/Errors/
/Build/UpdateVer/Logs/
/Builds/POS/Debug/Errors/
/Builds/POS/Debug/Images/OfferImages/
/Builds/POS/Debug/Images/Logo/
/Builds/POS/Debug/Images/PageBanners/
/Builds/POS/Debug/Images/Products/
/Builds/POS/Debug/Images/Treatments/
/Builds/POS/Debug/Logs/
/Builds/POS/Debug/Errors/
/Builds/POS/Debug/Marketing/old/
/Builds/POS/Release/
/Builds/POS/Debug/
/Distributors/
/Builds/POSRelease/Debug/
/Builds/POSRelease/Release/
/Libraries/Languages/obj/
/Libraries/Library/obj/
/Libraries/Library/bin/
/Libraries/Plugins/New Plugin/obj/
/Libraries/Plugins/New Plugin/bin/
/Libraries/Plugins/POS.AutoUpdate/obj/
/Libraries/Plugins/POS.AutoUpdate/bin/
/Libraries/.vs/
/Libraries/Languages/bin/
/Libraries/Languages/ForUpdate/
/Libraries/Plugins/POS.Accounts/bin/
/Libraries/Plugins/POS.Accounts/obj/
/Libraries/Plugins/POS.Administration/obj/
/Libraries/Plugins/POS.Administration/bin/
/Libraries/Plugins/POS.CurrencyWatch/obj/
/Libraries/Plugins/POS.CurrencyWatch/bin/
/Libraries/Plugins/POS.Cash/obj/
/Libraries/Plugins/POS.Cash/bin/
/Libraries/Plugins/POS.Debug/bin/
/Libraries/Plugins/POS.Debug/obj/
/Libraries/Plugins/POS.Customers/obj/
/Libraries/Plugins/POS.Customers/bin/
/Libraries/Plugins/POS.Debug/obj/
/Libraries/Plugins/POS.Debug/bin/
/Libraries/Plugins/POS.DatabaseBackup/obj/
/Libraries/Plugins/POS.DatabaseBackup/bin/
/Websites/MainWebsite/Images/Stratosphere/
/Libraries/Plugins/POS.Diary/obj/
/Libraries/Plugins/POS.Diary/bin/
/Libraries/Plugins/POS.Invoices/obj/
/Libraries/Plugins/POS.Invoices/bin/
/Websites/MainWebsite/Books/
/Libraries/Website.Library/bin/
/Libraries/Website.Library/obj/
/Libraries/Plugins/POS.Export/obj/
/Libraries/Plugins/POS.Export/bin/
/Libraries/Plugins/POS.FileBackup/obj/
/Libraries/Plugins/POS.FileBackup/bin/
/Libraries/Plugins/POS.StockControl/obj/
/Libraries/Plugins/POS.StockControl/bin/
/Websites/MainWebsite/Bin/
/Websites/MainWebsite/obj/
/Websites/MainWebsite/Images/Campaigns/
/Libraries/Plugins/POS.PurchaseOrders/obj/
/Libraries/Plugins/POS.PurchaseOrders/bin/
/Libraries/Plugins/POS.HelpDesk/bin/
/Libraries/Plugins/POS.HelpDesk/obj/
/Libraries/Plugins/POS.Marketing/obj/
/Libraries/Plugins/POS.Marketing/bin/
/Libraries/Plugins/POS.Orders/bin/
/Libraries/Plugins/POS.Orders/obj/
/Libraries/Plugins/POS.Staff/bin/
/Libraries/Plugins/POS.Staff/obj/
/Libraries/Plugins/POS.Suppliers/obj/
/Libraries/Plugins/POS.Suppliers/bin/
/Libraries/Plugins/POS.Till/bin/
/Libraries/Plugins/POS.Till/obj/
/Libraries/Plugins/POS.TrainingSchedule/bin/
/Libraries/Plugins/POS.TrainingSchedule/obj/
/Libraries/Plugins/POS.UpdateImages/bin/
/Libraries/Plugins/POS.UpdateImages/obj/
/Libraries/Plugins/POS.Updater/bin/
/Libraries/Plugins/POS.Updater/obj/
/Libraries/Plugins/POS.VoucherManagement/bin/
/Libraries/Plugins/POS.VoucherManagement/obj/
/Libraries/Plugins/POS.WebsiteAdministration/bin/
/Libraries/Plugins/POS.WebsiteAdministration/obj/
/Libraries/POS/bin/
/Libraries/POS/obj/
/Libraries/Reports/bin/
/Libraries/Reports/obj/
/Libraries/SalonDiary/bin/
/Libraries/SalonDiary/obj/
/Websites/.vs/
/Websites/MainWebsite/Download/
/Websites/MainWebsite/Images/FAQ/
/Websites/MainWebsite/Images/Banners/
/Websites/MainWebsite/Images/Celebs/
/Websites/MainWebsite/Images/sl/thick as pig shit.png
/Applications/POS/Classes/CHBackup/
/Applications/POS/CHBackup
/Applications/POS/Controls/InitialSetupWizard/CHBackup/
/Applications/POS/Controls/Settings/Admin/CHBackup/
/Applications/POS/Controls/Settings/LocalUser/CHBackup/
/Applications/POS/Forms/Other/CHBackup/
**/CHBackup/**
/Installer/EnterpriseManager/Builds/
/Websites/wwwroot/Images/
/Release/
/Websites/wwwroot/bin/
/Websites/wwwroot/bin/
/Websites/wwwroot/obj/
/Websites/wwwroot/obj/
/Websites/wwwroot/obj/
/Websites/wwwroot/obj/
/Websites/wwwroot/obj/Release/SieraDelta.Website.dll
/Websites/wwwroot/obj/Debug/SieraDelta.Website.pdb
/Websites/wwwroot/obj/
